#home-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-title {
  font-size: 48px;
}

#home-button-container {
  display: flex;
}

button {
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  background: linear-gradient(0deg, greenyellow, greenyellow);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.2s;
  border: 1px solid greenyellow;
  border-radius: 5px;
}

button:hover {
  background-size: 100% 100%;
  color: black;
}
